.version._________ /* version checker */
{
	color: #0000E8;
	background-color: #4FDDC8;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 699.7973043975271px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
}

#pu84
{
	width: 0.01px;
}

#u84
{
	z-index: 30;
	width: 85px;
	margin-right: -10000px;
}

#u81-6
{
	z-index: 24;
	width: 224px;
	min-height: 68px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 92px;
}

#u98-10
{
	z-index: 32;
	width: 206px;
	min-height: 82px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 754px;
}

#menuu324
{
	z-index: 136;
	width: 960px;
	margin-top: 28px;
}

#u332
{
	width: 158px;
	min-height: 34px;
	margin-right: -10000px;
}

#u333
{
	width: 158px;
	padding-bottom: 17px;
}

#u333:hover
{
	margin: 0px;
}

#u333:active
{
	margin: 0px;
}

#u519
{
	width: 158px;
	min-height: 34px;
	margin-right: -10000px;
	left: 160px;
}

#u522
{
	width: 158px;
	padding-bottom: 17px;
}

#u333.MuseMenuActive,#u522:hover
{
	margin: 0px;
}

#u522:active
{
	margin: 0px;
}

#u325
{
	width: 158px;
	min-height: 34px;
	margin-right: -10000px;
	left: 320px;
}

#u326
{
	width: 158px;
	padding-bottom: 17px;
}

#u522.MuseMenuActive,#u326:hover
{
	margin: 0px;
}

#u326:active
{
	margin: 0px;
}

#u340
{
	width: 158px;
	min-height: 34px;
	margin-right: -10000px;
	left: 480px;
}

#u343
{
	width: 158px;
	padding-bottom: 17px;
}

#u326.MuseMenuActive,#u343:hover
{
	margin: 0px;
}

#u343:active
{
	margin: 0px;
}

#u335-4,#u525-4,#u327-4,#u346-4
{
	width: 158px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u347
{
	width: 159px;
	min-height: 34px;
	margin-right: -10000px;
	left: 640px;
}

#u348
{
	width: 159px;
	padding-bottom: 17px;
}

#u343.MuseMenuActive,#u348:hover
{
	margin: 0px;
}

#u348:active
{
	margin: 0px;
}

#u354
{
	width: 159px;
	min-height: 34px;
	margin-right: -10000px;
	left: 801px;
}

#u355
{
	width: 159px;
	padding-bottom: 17px;
}

#u348.MuseMenuActive,#u355:hover
{
	margin: 0px;
}

#u355:active
{
	margin: 0px;
}

#u355.MuseMenuActive
{
	margin: 0px;
}

#u350-4,#u357-4
{
	width: 159px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#pu226
{
	width: 0.01px;
	margin-top: 36px;
}

#u226
{
	z-index: 88;
	width: 286px;
	margin-right: -10000px;
}

#u226_img
{
	margin-left: -4px;
	margin-top: -6px;
	margin-right: 1px;
}

#u270
{
	z-index: 21;
	width: 286px;
	margin-right: -10000px;
	left: 337px;
}

#u226_clip,#u270_clip
{
	width: 286px;
	height: 201px;
}

#u270_img
{
	margin-right: -15px;
}

#u276
{
	z-index: 19;
	width: 286px;
	margin-right: -10000px;
	left: 674px;
}

#u228-4
{
	z-index: 90;
	width: 245px;
	min-height: 72px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u187-4
{
	z-index: 84;
	width: 245px;
	min-height: 72px;
	margin-right: -10000px;
	left: 337px;
}

#u232-4
{
	z-index: 94;
	width: 245px;
	min-height: 72px;
	margin-right: -10000px;
	left: 673px;
}

#pu288
{
	width: 0.01px;
	margin-top: 10px;
}

#u288
{
	z-index: 17;
	width: 286px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u288_img
{
	margin-right: -40px;
}

#u417
{
	z-index: 15;
	width: 286px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 337px;
}

#u417_img
{
	margin-bottom: -5px;
}

#u423
{
	z-index: 13;
	width: 286px;
	margin-right: -10000px;
	left: 673px;
}

#u423_img
{
	margin: -1px -26px -3px -19px;
}

#u239-4
{
	z-index: 102;
	width: 245px;
	min-height: 72px;
	margin-right: -10000px;
}

#u236-4
{
	z-index: 98;
	width: 245px;
	min-height: 72px;
	margin-right: -10000px;
	left: 337px;
}

#u242-4
{
	z-index: 106;
	width: 245px;
	min-height: 72px;
	margin-right: -10000px;
	left: 674px;
}

#pu429
{
	width: 0.01px;
	margin-top: 14px;
}

#u429
{
	z-index: 11;
	width: 286px;
	margin-right: -10000px;
}

#u436
{
	z-index: 9;
	width: 286px;
	margin-right: -10000px;
	left: 336px;
}

#u436_img
{
	margin-left: -18px;
	margin-right: -18px;
}

#u442
{
	z-index: 7;
	width: 286px;
	margin-right: -10000px;
	left: 673px;
}

#u442_img
{
	margin-left: -7px;
	margin-right: -7px;
}

#pu239-4,#pu251-4
{
	width: 0.01px;
	margin-left: 29px;
	margin-top: 15px;
}

#u251-4
{
	z-index: 114;
	width: 245px;
	min-height: 72px;
	margin-right: -10000px;
}

#u248-4
{
	z-index: 110;
	width: 245px;
	min-height: 72px;
	margin-right: -10000px;
	left: 337px;
}

#u254-4
{
	z-index: 118;
	width: 245px;
	min-height: 72px;
	margin-right: -10000px;
	left: 678px;
}

#pu448
{
	width: 0.01px;
	margin-top: 8px;
}

#u448
{
	z-index: 5;
	width: 286px;
	margin-right: -10000px;
}

#u448_img
{
	margin: -2px -7px -8px -20px;
}

#u454
{
	z-index: 3;
	width: 286px;
	margin-right: -10000px;
	left: 337px;
}

#u288_clip,#u417_clip,#u423_clip,#u436_clip,#u442_clip,#u448_clip,#u454_clip
{
	width: 286px;
	height: 200px;
}

#u454_img
{
	margin-right: -36px;
	margin-bottom: -15px;
}

#u466
{
	z-index: 2;
	width: 286px;
	padding-bottom: 55px;
	margin-right: -10000px;
	left: 673px;
}

#u467
{
	z-index: 134;
	width: 85px;
	margin-right: -10000px;
	margin-top: 55px;
	left: 110px;
}

#pu228-4,#pu263-4
{
	width: 0.01px;
	margin-left: 29px;
	margin-top: 14px;
}

#u263-4
{
	z-index: 126;
	width: 245px;
	min-height: 72px;
	margin-right: -10000px;
}

#u260-4
{
	z-index: 122;
	width: 245px;
	min-height: 72px;
	margin-right: -10000px;
	left: 337px;
}

#u266-4
{
	z-index: 130;
	width: 245px;
	min-height: 72px;
	margin-right: -10000px;
	left: 674px;
}

#u100
{
	z-index: 23;
	width: 960px;
	padding-bottom: 24px;
	margin-left: 1px;
	margin-top: 30px;
}

#u102-38
{
	z-index: 42;
	width: 883px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 38px;
}

#u105-4
{
	z-index: 80;
	width: 960px;
	min-height: 36px;
	margin-top: 76px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

