#u81-6
{
	font-family: pt-sans-caption-n7, sans-serif;
}

#u228-4,#u187-4,#u232-4,#u239-4,#u236-4,#u242-4,#u251-4,#u248-4,#u254-4,#u263-4,#u260-4,#u266-4,#u102-2
{
	font-family: pt-sans-caption-n4, sans-serif;
}

#u98-10,#u335-4,#u525-4,#u327-4,#u346-4,#u350-4,#u357-4,#u102-17,#u102-21,#u102-23,#u102-29,#u102-35,#u105-4
{
	font-family: pt-sans-n4, sans-serif;
}

