/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ol, ul {
	list-style: none;
}

small { font-size: medium;

}

strong {font-weight:800;
}

em{font-style:italic;
}


blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
}
.wrapper {
	width: 940px;
	margin: 0 auto;
	height: auto !important;
	height: 100%;
}







/* Header
-----------------------------------------------------------------------------*/
.header {

}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 480px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 0 0 245px;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 200px;
	margin-left: -100%;
	position: relative;
	background-color: #FAFCFB;
	border-radius: 6px;
	-webkit-box-shadow: 0px 0px 6px #D7D7D7;
	box-shadow: 0px 0px 6px #D7D7D7;
	margin-bottom: 60px;
	margin-top: 5px;
}

.left-sidebar li{
	
}

.left-sidebar ul{
	
	border-bottom:1px dotted whitesmoke;
}

.left-sidebar a{
	color: #7E837F;
	font-size:14px
	}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -424px auto 0;
	height: 438px;
	position: relative;
	background-image: url(../img/footer-bg-top.png);
	background-repeat: repeat-x;
	background-color: #f2f2f2;
	width: 100%;
}

.footer .row3 .socialicons {
    width: 200px;
    float: left;
    margin-right: 53px;
}
.footer .row3 .contacts {
    float: left;
    font-size: 13px;
}

.footer .row3 .contacts .email{
    margin-left: 20px;
    ,margin-left:20px;
}
.footer .row3 .phone {
}

.top-panel {
	width: 100%;
	display: block;
	height: 54px;
	color:#FFFFFF;
    
}

.top-panel-inner {
	width: 940px;
	margin:auto;
}

.top-panel-inner-block1 {
    margin-top:15px;
    float:left;
    margin-left: 10px;
    margin-right: 22px;
}

.top-panel-inner-block1 a {
	text-decoration:none;
	border-bottom-width: thin;
	border-style: dotted;
	
    
}

.top-panel-basket {
}

.top-panel-basket-link{
color:#C8BD6D;
}


.top-panel-basket .button {
	float: right;
	margin-top: 4px;
	margin-left: 20px;
}
.top-panel .top-panel-inner .top-panel-basket span {
	float: left;
}


.top-panel-search {
}

.top-panel .top-panel-inner .top-panel-search .textbox {
	margin-right: 16px;
	float: left;
}

/* Buttons
-----------------------------------------------------------------------------*/
.btn-white {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );




	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color: #ededed;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
	text-indent: 0;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #111111;
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	height: 20px;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #ffffff;
	padding-left: 9px;
	padding-right: 9px;
	box-shadow: 0 0 45px rgba(255, 255, 255, 0.9);
}
.btn-white:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.btn-white:active {
	position:relative;
	top:1px;
}

/* Buttons end
-----------------------------------------------------------------------------*/
  .textbox {
	width: 252px;
	padding-top: 4px;
	padding-right: 4px;
	padding-left: 27px;
	padding-bottom: 4px;
	box-shadow: 0px 0px 8px #d9d9d9;
	-moz-box-shadow: 0px 0px 8px #d9d9d9;
	-webkit-box-shadow: 0px 0px 8px #d9d9d9;
	font-size: 10px;
} 
 
.textbox:focus { 
    outline: none;  
    box-shadow: 0px 0px 8px #7bc1f7; 
    -moz-box-shadow: 0px 0px 8px #7bc1f7; 
    -webkit-box-shadow: 0px 0px 8px #7bc1f7; 
} 
.wrapper .header .logo {
	width: 294px;
	height: 58px;
	margin-top: 28px;
	float: left;
	position: absolute;
}
.wrapper .header .header-worktime {
}

.header-phone {
}
.wrapper .header .main-menu {
	width: 100%;
	height: 30px;
	display: inline-block;
	margin-top: 111px;
	font-weight: 800;
	font-size: 17px;
}
.wrapper .header .main-menu {
	width: 100%;
}

.main-menu ul {
        font-size: 14px;
        text-align: justify;

        /* Обнуляем для родителя*/
        line-height: 0; /* 1px для Opera */

        /* Лекарство для IE6-7*/
        text-justify: newspaper;
        zoom:1;

        /* Включаем в работу последнюю строку*/
        text-align-last: justify;
        margin-left: 8px;
        margin-right: 8px;
}
        .main-menu ul:after {
                        width: 100%;
                        height: 0px;
                        visibility: hidden;
                        overflow: hidden;
                        content: '';
                        display: inline-block;

        }
                .main-menu ul li  {
                        height: 24px;
                        display: inline-block;
                        text-align: left;

                        /* Востанавливаем у потомков, кроме последнего*/
                        line-height: normal;
                        font-size: 17px;

                        /* Без него в Opera будет отступ под элементами */
                        vertical-align: top;

                        /* эмуляция inline-block для IE6-7*/
                        //display : inline;
                        //zoom : 1;
                
                        /* font-weight: bold; */
}

.main-menu .hr {
background: rgb(238, 238, 238);
width: 2px;
display: inline-block;
vertical-align: top;
height: 15px;
margin-top: 6px;
}

.wrapper .header .main-menu ul li a {
    color: black;
    font-weight: bold;
}
.wrapper .header .header-brand-menu {
	width: 940px;
	height: 53px;
	display: inline-block;
	background-repeat: no-repeat;
	margin-top: 8px;
	overflow: hidden;
}

.wrapper .header .header-brand-menu ul {
        margin-top: 15px;
        margin-left: 60px;
        margin-right: 60px;
        font-size: 14px;
        font-weight: bold;
        text-align: justify;

        /* Обнуляем для родителя*/
        line-height: 0; /* 1px для Opera */

        /* Лекарство для IE6-7*/
        text-justify: newspaper;
        zoom:1;

        /* Включаем в работу последнюю строку*/
        text-align-last: justify;
}
        .wrapper .header .header-brand-menu ul:after {
                        width: 100%;
                        height: 0px;
                        visibility: hidden;
                        overflow: hidden;
                        content: '';
                        display: inline-block;

        }
               .wrapper .header .header-brand-menu ul li  {
                        height: 24px;
                        display: inline-block;
                        text-align: left;

                        /* Востанавливаем у потомков, кроме последнего*/
                        line-height: normal;
                        font-size: 17px;

                        /* Без него в Opera будет отступ под элементами */
                        vertical-align: top;

                        /* эмуляция inline-block для IE6-7*/
                        //display : inline;
                        //zoom : 1;
                
                        /* font-weight: bold; */
}

.wrapper .header .header-brand-menu .hr {
	background-color: rgb(238, 238, 238);
	width: 14px;
	display: inline-block;
	vertical-align: top;
	height: 58px;
	margin-top: -16px;
}

.wrapper .header .header-brand-menu ul li a {
    text-decoration: none;
    color: white;
}
.wrapper .middle .left-sidebar .left-menu {
    padding-top: 10px;
    padding-bottom: 10px;
}
.wrapper .middle .left-sidebar .left-menu li {
    
    
}

.wrapper .middle .left-sidebar .left-menu li a:hover {
	background: url(../img/left-menu-active.png);
	color:white;
}

.wrapper .middle .left-sidebar .left-menu li a {
    color: #7E837F;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    padding: 10px;  padding-left: 16px;  padding-right: 16px;  
    padding-top: 14px;  
    padding-bottom: 6px;
    display: block;
    width: 172px;
    margin-left: -2px;
    height: 30px;
}
.wrapper .middle .left-sidebar .left-menu .hr {
	height: 10px;
	padding: 0;
	background-color: rgb(238, 238, 238);
	background-image: url(../img/left-menu-hr.png);
	width: 200px;
	background-repeat: no-repeat;
}
.footer .row1 {
	height: 76px;
	margin-top: 40px;
	margin-bottom: 40px;
	display: inline-block;
	width: 100%;
	color: #a0a0a0;
}
.footer .row2 {
	display: inline-block;
	width: 100%;
	margin-bottom: 25px;
	padding-bottom: 20px;
	background-image: url(../img/gr-bg.png);
	padding-top: 10px;
}
.footer .row3 {
	height: 30px;
	display: inline-block;
	width: 100%;
	color: #747474;
}

.products li .price {
}
.products li .button {
    float: right;
}
.products li .img-box {
}
.products li h3 {
}
.products {
    margin-top: 25px;
    margin-bottom: 20px;
}
.products li {
}
.title-link {
    font-size: 10px;
    vertical-align: text-top;
    color: #7E837F;
}


.product-status {
}

.action {


}.footer .row1 .footer-copyright {
}
.footer .row1 .footer-copyright {
	display: inline-block;
	font-size: 18px;
	margin-top: 23px;
	float: left;
}
.footer .footer-wrapper {
	width: 940px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
.footer .footer-wrapper .row1 .footer-aboutus {
	width: 700px;
	height: 70px;
	float: right;
	text-align: justify;
}

.title-proposition-h .frame-title > .title{background-color: #fff;position: relative;padding-right: 14px;font-size: 30px;display: inline;font-style: italic;}
.title-proposition-v .frame-title > .title{font-size: 14px;color: #fff;}
.title-proposition-h .frame-title > .title:after{content: "";left: 100%;top: 9px;position: absolute;height: 2px;width: 10000px;border-width: 1px 0;border-style: solid;border-color: #dbdbdb;}
.title-proposition-h {
margin-top: 20px;
}


.footer-cat {
    margin-top: 10px;
    margin-right: 16px;
    float: left;
}

.footer-cat a {
    font-weight: bold;
    font-size: 16px;
    color: white;
}

/*хлебные крошки*/

.path {
	color: #7E837F;
	margin-bottom: 7px;
	font-size: 11px;
}
.path a{
	color: #7E837F;
}

/*сортировка каталога*/
.sort {
margin-top: 30px;
display: inline-block;
}

/*вид каталога*/
.view {
margin-top: 30px;
display: inline-block;
float: right;
}

/*активные ссылки*/
.selected {
}

.selected a{
color:black!important;
}

/*постраничная навигация*/
.pagination {
padding-top: 36px;
margin-bottom: 100px;
text-align: center;
border-top: 2px solid rgb(235, 235, 235);
font-size:16px;
font-style:italic;
display: inline-block;
width: 100%;
}

.pagination a {
text-decoration: none;
border-bottom: 1px dotted gray;
color: gray;
margin-left: 3px;
margin-right: 3px;
}

.pagination .left {
margin-right: 60px;
margin-left: 10px;
}

.pagination .right {
margin-right: 10px;
margin-left: 60px;
}

.main-top-banner {
}

/*страница продукта*/
.prod-big-image {
border: 1px solid rgb(231, 231, 231);
padding: 15px;
float: left;
margin-top: 10px;
margin-bottom: 10px;
display: inline-block;
}

.product {
margin-top: 10px;
float: right;
max-width: 333px;
}

.product h1{
color: #d84f19;
font-weight: bold;
font-size: 25px;
width: 330px;
line-height: 1.2;
}

/*хаки*/

.valignt-top{
	vertical-align:top;
}
.spacer-right{
	margin-right:15px;
}

.no-underline{
	text-decoration:none;
}

.italic {
	font-style:italic;
}

.base-color{
	color: #7E837F;
}
/*хаки @*/

.complect {
	border: 1px solid #bc501f;
	height: 75px;
}
.product-block {
}
.prod-dop-photo {
}
.product-block h1 {
	font-size: 30px;
color: #bc501f;
line-height: 1.1;
margin-top: 5px;

	margin-bottom: 20px;
	font-weight: bold;
}
.product-page-price .price {
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    background: wheat;
}
.product-page-price .count {
    float: left;
    margin-right: 10px;
}
.product-page-price .to-basket {
}
.product-block  .svoystva {
    margin-bottom: 15px;
}

.product-block  .ssylki {
    margin-bottom: 15px;
    font-size: 14px;
}

.product-block  .ssylki a{
    margin-right: 10px;

}

.product-block  .opisanie {
    margin-bottom: 15px;
}
.product-block .share {
    

}
.product-block .product-page-price {
	background-image: url(../img/icon-product-price.png);
	background-repeat: no-repeat;
	margin-bottom: 20px;
	padding-top: 24px;
}
.product-page-price .btn-white {
display: block;
height: 25px;
cursor: pointer;
}
.prod-big-image .icon-prod {
	width: 96px;
	height: 26px;
	background-image: url(../img/icon-vnalichii.png);
	background-repeat: no-repeat;
	position: absolute;
	padding: 5px;
	padding-left: 8px;
	font-weight: bold;
	color: white;
	font-size: 12px;
	margin-left: -25px;
	margin-top: 32px;
}

.price-grad .dots {
	display: block;
	width: 100%;
	border-bottom:thin dotted #000000;
}
.price-grad .left {
    margin-right: 5px;
    min-height: 25px;
}
.price-grad .right {
    margin-left: 5px;
    min-height: 25px;
}


/* ценовые градации */
.th-info { margin-bottom: 20px; margin-top: 20px;}
.th-info .more { float: right; font-size: 11px; padding: 5px 0 0;}
.th-info .more span { color: #999 }
.th-info .th .title-sub { float: left; }
.th-info .th { float: left; width: 570px; padding: 0 0 60px; margin: 0 0 0 -620px; }
.th-info .th-tabl { clear: left;}
.th-info table { border-collapse: collapse; width: 100% }
.th-info th, .th-info td { text-align: left; font: 13px Arial,Geneva,Tahoma,sans-serif; vertical-align: top }
.th-info th {   background: url(http://hotline.ua/img/s/v3/bg_th_info_dots.gif) 0 13px no-repeat; }
.th-info th span { background: #fff; }
.th-info th span img { margin: 0 3px -1px; }
.th-info th i { font-style: normal; font-weight: normal; color: #666 }
.th-info .title { font-weight: bold; font-size: 16px; color: #a99667; background: 0; padding: 15px 0 8px; border-top: 1px solid #a99667 }
.th-info .title.no-vend { border: 0; padding: 0 0 8px }
.th-info td { padding: 0px 0 12px 10px; max-width: 294px; word-wrap: break-word ; text-align: right; width: 30%;}



.productslist{
    margin-top: 30px;


    /* border: 1px solid rgb(240, 240, 240); */
}


/* таблицы из бутстрапа */

.datagrid table { border-collapse: collapse; text-align: left; /* width: 100%; */ } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin-top: 26px;}.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #E1EEF4; color: #00496B; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #006699;background: #E1EEF4;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #006699; color: #FFFFFF; background: none; background-color:#00557F;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ol, ul {
	list-style: none;
}

small { font-size: medium;

}

strong {font-weight:800;
}

em{font-style:italic;
}


blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
	height: 100%;
}
.wrapper {
	width: 95%;
	margin: 0 auto;
	height: auto !important;
	height: 100%;
	min-width: 940px;
}


/* Header
-----------------------------------------------------------------------------*/
.header {

}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 480px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 0 0 263px;
}

.content a{
	color: #7E837F;
}

.content a:hover{
	color: orange;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 240px;
	margin-left: -100%;
	position: relative;
	background-color: #FAFCFB;
	border-radius: 6px;
	-webkit-box-shadow: 0px 0px 6px #D7D7D7;
	box-shadow: 0px 0px 6px #D7D7D7;
	margin-bottom: 60px;
	margin-top: 5px;
}

.left-sidebar li{
	
	margin-bottom: 7px;
	padding-bottom: 5px;
}

.left-sidebar ul{
	
	border-bottom:1px dotted whitesmoke;
}

.left-sidebar a{
	color: #7E837F;
	font-size:14px
	;
	text-decoration: none;
}
.left-sidebar .selected a{
	color: #7E837F;
	font-size:14px
	}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -405px auto 0;
	height: 405px;
	position: relative;
	background-image: url(../img/footer-bg-top.png);
	background-repeat: repeat-x;
	background-color: #f2f2f2;
	width: 100%;
}

.footer .row3 .socialicons {
    width: 283px;
    float: left;
    margin-right: 25px;
}
.footer .row3 .contacts {
    float: left;
    font-size: 13px;
}

.footer .row3 .contacts .email{
    margin-left: 20px;
    ,margin-left:20px;
}
.footer .row3 .phone {
    float: right;
}

.top-panel {
	width: 100%;
	height: 36px;
	background-color: wheat;
	color:#FFFFFF;
    
	z-index: 999;
	margin-bottom: 12px;
	margin-top: 4px;
}

.top-panel-inner {
	width: 100%;
	min-width: 940px;
	margin:auto;
}

.top-panel-inner-block1 {
    margin-top: 9px;
}

.top-panel-inner-block1 a {
	color: rgb(63, 63, 63);
	text-decoration:none;
	border-bottom-width: thin;
	border-style: dotted;
	
    
}

.top-panel-basket {
	float: left;
	margin-top: 10px;
	font-size: 12px;
	line-height: 14px;
	padding-left: 29px;
	background-image: url(../img/shopping-basket-icon.png);
	background-repeat: no-repeat;
	background-position: 0px -2px;
	height: 22px;
	vertical-align: middle;
	margin-right: 10px;
}

.top-panel-basket-link{
color:#C8BD6D;
}


.top-panel-basket .button {
	float: right;
	margin-top: -2px;
	margin-left: 20px;
}
.top-panel .top-panel-inner .top-panel-basket span {
	float: left;
}


.top-panel-search {
	padding-top: 2px;
	padding-bottom: 2px;
	display: inline-block;
	float: left;
	margin-left: 4px;
}

.top-panel .top-panel-inner .top-panel-search .textbox {
	margin-right: 16px;
	float: left;
}

/* Buttons
-----------------------------------------------------------------------------*/
.btn-white {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );




	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color: #ededed;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
	text-indent: 0;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #111111;
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	font-style: normal;
	height: 20px;
	line-height: 20px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #ffffff;
	padding-left: 9px;
	padding-right: 9px;
	box-shadow: 0 0 45px rgba(255, 255, 255, 0.9);
}
.btn-white:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.btn-white:active {
	position:relative;
	top:1px;
}

/* Buttons end
-----------------------------------------------------------------------------*/
  .textbox {
	border: none;
	width: 576px;
	padding-top: 7px;
	padding-right: 3px;
	padding-left: 20px;
	padding-bottom: 4px;
	box-shadow: 0px 0px 8px #d9d9d9;
	-moz-box-shadow: 0px 0px 8px #d9d9d9;
	-webkit-box-shadow: 0px 0px 8px #d9d9d9;
	font-size: 14px;
	float: left;
	margin-right: 10px;
} 
 
.textbox:focus { 
    outline: none;  
    box-shadow: 0px 0px 8px #7bc1f7; 
    -moz-box-shadow: 0px 0px 8px #7bc1f7; 
    -webkit-box-shadow: 0px 0px 8px #7bc1f7; 
} 
.wrapper .header .logo {
	width: 294px;
	height: 58px;
	margin-top: 28px;
	float: left;
	position: absolute;
}
.wrapper .header .header-worktime {
	padding: 5px;
	margin-top: 20px;
	border-radius: 5px;
	display: inline-block;
}

.header-phone {
	margin-top: 41px;
	font-size: 30px;
	float: right;
	display: inline-block;
	text-align: right;
}
.wrapper .header .main-menu {
	width: 100%;
	height: 30px;
	display: inline-block;
	margin-top: 37px;
	font-weight: 800;
	font-size: 17px;
}
.wrapper .header .main-menu {
	width: 100%;
}

.main-menu ul {
        font-size: 14px;
        text-align: justify;

        /* Обнуляем для родителя*/
        line-height: 0; /* 1px для Opera */

        /* Лекарство для IE6-7*/
        text-justify: newspaper;
        zoom:1;

        /* Включаем в работу последнюю строку*/
        text-align-last: justify;
        margin-left: 8px;
        margin-right: 8px;
}
        .main-menu ul:after {
                        width: 100%;
                        height: 0px;
                        visibility: hidden;
                        overflow: hidden;
                        content: '';
                        display: inline-block;

        }
                .main-menu ul li  {
                        height: 24px;
                        display: inline-block;
                        text-align: left;

                        /* Востанавливаем у потомков, кроме последнего*/
                        line-height: normal;
                        font-size: 17px;

                        /* Без него в Opera будет отступ под элементами */
                        vertical-align: top;

                        /* эмуляция inline-block для IE6-7*/
                        //display : inline;
                        //zoom : 1;
                
                        /* font-weight: bold; */
}

.main-menu .hr {
background: rgb(109, 109, 109);
width: 1px;
display: inline-block;
vertical-align: top;
height: 15px;
margin-top: 3px;
}

.wrapper .header .main-menu ul li a {
    color: rgb(71, 71, 71);
    font-weight: bold;
}
.wrapper .header .header-brand-menu {
	width: 100%;
	height: 50px;
	display: inline-block;
	background-repeat: no-repeat;
	background: rgb(252, 166, 139);
	margin-top: 8px;
	overflow: hidden;
	background: rgb(246,230,180); /* Old browsers */  /* IE9 SVG, needs conditional override of 'filter' to 'none' */  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZTZiNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZDkwMTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);  background: -moz-linear-gradient(top,  rgba(246,230,180,1) 0%, rgba(237,144,23,1) 100%); /* FF3.6+ */  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,230,180,1)), color-stop(100%,rgba(237,144,23,1))); /* Chrome,Safari4+ */  background: -webkit-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* Chrome10+,Safari5.1+ */  background: -o-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* Opera 11.10+ */  background: -ms-linear-gradient(top,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* IE10+ */  background: linear-gradient(to bottom,  rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* W3C */  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-8 */;
	border-radius: 10px;
}

.wrapper .header .header-brand-menu ul {
        margin-top: 15px;
        margin-left: 60px;
        margin-right: 60px;
        font-size: 14px;
        font-weight: bold;
        text-align: justify;

        /* Обнуляем для родителя*/
        line-height: 0; /* 1px для Opera */

        /* Лекарство для IE6-7*/
        text-justify: newspaper;
        zoom:1;

        /* Включаем в работу последнюю строку*/
        text-align-last: justify;
}
        .wrapper .header .header-brand-menu ul:after {
                        width: 100%;
                        height: 0px;
                        visibility: hidden;
                        overflow: hidden;
                        content: '';
                        display: inline-block;

        }
               .wrapper .header .header-brand-menu ul li  {
                        height: 24px;
                        display: inline-block;
                        text-align: left;

                        /* Востанавливаем у потомков, кроме последнего*/
                        line-height: normal;
                        font-size: 17px;

                        /* Без него в Opera будет отступ под элементами */
                        vertical-align: top;

                        /* эмуляция inline-block для IE6-7*/
                        //display : inline;
                        //zoom : 1;
                
                        /* font-weight: bold; */
}

.wrapper .header .header-brand-menu .hr {
	background-color: rgb(207, 183, 56);
	width: 1px;
	display: inline-block;
	vertical-align: top;
	height: 58px;
	margin-top: -16px;
}

.wrapper .header .header-brand-menu ul li a {
    text-decoration: none;
    color: white;
}
.wrapper .middle .left-sidebar .left-menu {
    padding-top: 10px;
    padding-bottom: 10px;
}
.wrapper .middle .left-sidebar .left-menu li {
    
    
}

.wrapper .middle .left-sidebar .left-menu li a:hover {
	background: url(../img/left-menu-active.png);
	color:white;
}

.wrapper .middle .left-sidebar .left-menu li a {
    color: #7E837F;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    padding: 10px;  padding-left: 16px;  padding-right: 16px;  
    padding-top: 14px;  
    padding-bottom: 6px;
    display: block;
    width: 172px;
    margin-left: -2px;
    height: 30px;
}
.wrapper .middle .left-sidebar .left-menu .hr {
	height: 10px;
	padding: 0;
	background-color: rgb(238, 238, 238);
	background-image: url(../img/left-menu-hr.png);
	width: 200px;
	background-repeat: no-repeat;
}
.footer .row1 {
	height: 76px;
	margin-top: 40px;
	margin-bottom: 40px;
	display: inline-block;
	width: 100%;
	color: #a0a0a0;
}
.footer .row2 {
	display: inline-block;
	width: 100%;
	margin-bottom: 25px;
	padding-bottom: 20px;
	background-image: url(../img/gr-bg.png);
	padding-top: 10px;
}
.footer .row3 {
	height: 30px;
	display: inline-block;
	width: 100%;
	color: #747474;
}

.products li .price {
    text-shadow: 1px 1px 0px #ffffff;
    font-size: 13px;
    z-index: 10;
    font-weight: bold;
    background: wheat;
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px;
    width: 190px;
    height: 72px;
}
.products li .button {
    float: right;
}
.products li .img-box {
    height: 200px;
}
.products li h3 {
    font-size: 12px;
    margin-top: 10px;
    color: #bc501f;
    font-weight: 800;
    text-decoration: underline;
    width: 100%;
    height: 40px;
    overflow: hidden;
    margin-bottom: 10px;
}
.products {
    margin-top: 25px;
    margin-bottom: 20px;
}
.products li {
    width: 200px;
    height: 342px;
    margin-right: 22px;
    float: left;
    margin-bottom: 50px;
    text-align: center;
    border: 1px solid wheat;
}
.title-link {
    font-size: 10px;
    vertical-align: text-top;
    color: #7E837F;
}


.product-status {
	position: absolute;
	background-repeat: no-repeat;
	background-image: url(../img/sprite.png);
	margin-top: 94px;
	margin-left: -95px;
}

.action {
background-position: -660px 0;
width: 53px;
height: 24px;


}.footer .row1 .footer-copyright {
}
.footer .row1 .footer-copyright {
	display: inline-block;
	font-size: 18px;
	margin-top: 23px;
	float: left;
}
.footer .footer-wrapper {
	width: 1200px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
.footer .footer-wrapper .row1 .footer-aboutus {
	width: 700px;
	height: 70px;
	float: right;
	text-align: justify;
}

.title-proposition-h .frame-title > .title{background-color: #fff;position: relative;padding-right: 14px;font-size: 30px;display: inline;font-style: italic;}
.title-proposition-v .frame-title > .title{font-size: 14px;color: #fff;}
.title-proposition-h .frame-title > .title:after{content: "";left: 100%;top: 9px;position: absolute;height: 2px;width: 10000px;border-width: 1px 0;border-style: solid;border-color: #dbdbdb;}
.title-proposition-h {
margin-top: 20px;
margin-bottom: 20px;
display: inline-block;
width: 100%;
}


.footer-cat {
    margin-top: 10px;
    margin-right: 16px;
    float: left;
}

.footer-cat a {
    font-weight: bold;
    font-size: 16px;
    color: white;
}

/*хлебные крошки*/

.path {
	color: #7E837F;
	margin-bottom: 7px;
	font-size: 12px;
}
.path a{
	color: #7E837F;
}

/*сортировка каталога*/
.sort {
margin-top: 15px;
display: inline-block;
}

/*вид каталога*/
.view {
margin-top: 15px;
display: inline-block;
float: right;
}

/*активные ссылки*/
.selected {
}

.selected a{
color:black!important;
}

/*постраничная навигация*/
.pagination {
padding-top: 36px;
margin-bottom: 100px;
text-align: center;
border-top: 2px solid rgb(235, 235, 235);
font-size:16px;
font-style:italic;
display: inline-block;
width: 100%;
}

.pagination a {
text-decoration: none;
border-bottom: 1px dotted gray;
color: gray;
margin-left: 3px;
margin-right: 3px;
}

.pagination .left {
margin-right: 60px;
margin-left: 10px;
}

.pagination .right {
margin-right: 10px;
margin-left: 60px;
}

.main-top-banner {
    width: 100%;
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 5px;
}

/*страница продукта*/
.prod-big-image {
border: 1px solid rgb(231, 231, 231);
padding: 15px;
float: left;
margin-top: 10px;
margin-bottom: 10px;
display: inline-block;
}

.product {
margin-top: 10px;
float: right;
max-width: 333px;
}

.product h1{
color: #d84f19;
font-weight: bold;
font-size: 25px;
width: 330px;
line-height: 1.2;
}

/*хаки*/

.valignt-top{
	vertical-align:top;
	padding-left: 25px;
}
.spacer-right{
	margin-right:15px;
}

.no-underline{
	text-decoration:none;
}

.italic {
	font-style:italic;
}

.base-color{
	color: #7E837F;
}
/*хаки @*/

.complect {
	border: 1px solid #bc501f;
	height: 75px;
}
.product-block {
}
.prod-dop-photo {
}
.product-block h1 {
	font-size: 26px;
color: #bc501f;
line-height: 1.1;
margin-top: 5px;

	margin-bottom: 20px;
	font-weight: bold;
}
.product-page-price .price {
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    background: wheat;
}
.product-page-price .count {
    float: left;
    margin-right: 10px;
}
.product-page-price .to-basket {
}
.product-block  .svoystva {
    margin-bottom: 15px;
}

.product-block  .ssylki {
    margin-bottom: 35px;
    margin-top: 14px;
    font-size: 14px;
    display: inline-block;
}

.product-block  .ssylki a{
    margin-right: 10px;

}

.product-block  .opisanie {
    margin-bottom: 15px;
    font-style: italic;
}
.product-block .share {
    

}
.product-block .product-page-price {
	background-image: url(../img/icon-product-price.png);
	background-repeat: no-repeat;
	margin-bottom: 20px;
	padding-top: 24px;
}
.product-page-price .btn-white {
display: block;
height: 25px;
cursor: pointer;
}
.prod-big-image .icon-prod {
	width: 96px;
	height: 26px;
	background-image: url(../img/icon-vnalichii.png);
	background-repeat: no-repeat;
	position: absolute;
	padding: 5px;
	padding-left: 8px;
	font-weight: bold;
	color: white;
	font-size: 12px;
	margin-left: -25px;
	margin-top: 32px;
}

.price-grad .dots {
	display: block;
	width: 100%;
	border-bottom:thin dotted #000000;
}
.price-grad .left {
    margin-right: 5px;
    min-height: 25px;
}
.price-grad .right {
    margin-left: 5px;
    min-height: 25px;
}


/* ценовые градации */
.th-info { margin-bottom: 20px; margin-top: 20px;}
.th-info .more { float: right; font-size: 11px; padding: 5px 0 0;}
.th-info .more span { color: #999 }
.th-info .th .title-sub { float: left; }
.th-info .th { float: left; width: 570px; padding: 0 0 60px; margin: 0 0 0 -620px; }
.th-info .th-tabl { clear: left;}
.th-info table { border-collapse: collapse; width: 100% }
.th-info th, .th-info td { text-align: left; font: 13px Arial,Geneva,Tahoma,sans-serif; vertical-align: top }
.th-info th {   background: url(http://hotline.ua/img/s/v3/bg_th_info_dots.gif) 0 13px no-repeat; }
.th-info th span { background: #fff; }
.th-info th span img { margin: 0 3px -1px; }
.th-info th i { font-style: normal; font-weight: normal; color: #666 }
.th-info .title { font-weight: bold; font-size: 16px; color: #a99667; background: 0; padding: 15px 0 8px; border-top: 1px solid #a99667 }
.th-info .title.no-vend { border: 0; padding: 0 0 8px }
.th-info td { padding: 0px 0 12px 10px; max-width: 294px; word-wrap: break-word ; text-align: right; width: 30%;}



.productslist{
    margin-top: 30px;


    /* border: 1px solid rgb(240, 240, 240); */
}


/* таблицы из бутстрапа */

.datagrid table { border-collapse: collapse; text-align: left; /* width: 100%; */ }

.datagrid table tr{
border-bottom: 1px solid #E1EEF4;
}

.datagrid .no-padding{
padding:0;
text-align: center;
vertical-align: middle;
}

.datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; o
verflow: hidden; border: 1px solid #006699;
-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin-top: 10px;}
.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid
table thead th {background:-webkit-gradient( linear, left top, left bottom, colo
r-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( ce
ter top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(
startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF;
font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; text-align: left;} 
.datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #00496B;
border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; vertical-align: middle;}
.datagrid table tbody .alt td { background: #E1EEF4; color: #00496B; }
.datagrid table tbody td:first-child { border-left: none; }.datagrid t
able tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td 
div { border-top: 1px solid #006699;background: #E1EEF4;} 
.datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid tab
le tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-s
tyle: none; text-align: right; }
.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decora
tion: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px so
lid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
background:-webkit-gradient
( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
filter:progid:DXImageTransform.Microsoft.gradient
(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }
.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;bord
er-color: #006699; color: #FFFFFF; background: none; background-color:#00557F;}





/*-----------------------------------------------*/

h2 {
font-size: x-large;
margin-top: 15px;
margin-bottom: 15px;
}

hr {

border: 2px solid rgb(231, 231, 231);
margin-top: 20px;
margin-bottom: 20px;

}

.content-full{
padding: 0 0 0 0;
}


/* контакты */

.kontakty {
	display: inline-block;
	margin: auto;
	width: 100%;
}
.kontakty .kontakty-header {
	margin-top: 39px;
	margin-left: 37px;
	font-size: 32px;
	font-weight: bold;
	color: rgb(238, 114, 114);
	margin-bottom: 30px;
}
.kontakty .kontakty-block {
	height: 96px;
}
.kontakty .kontakty-block .kontakty-block-header {
	display: block;
	font-size: 24px;
}
.kontakty .kontakty-block .kontakty-block-right {
	margin-left: 53px;
	font-size: 15px;
	line-height: 1.2;
	margin-top: 15px;
}
.kontakty .kontakty-block .kontakty-block-header .kontakty-block-icon {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 13px;
	margin-top: -8px;
}
.kontakty .kontakty-left {
    margin-top: 16px;
}
.kontakty .kontakty-right {
	width: 400px;
	height: 590px;
	float: right;
}
.kontakty .kontakty-right .kontakty-block-right-header {
	margin-top: 42px;
	font-size: 32px;
	font-weight: bold;
	color: rgb(238, 114, 114);
	margin-bottom: 30px;
}
.kontakty .kontakty-right .kontakty-block-right-form {
	margin-top: 13px;
	width: 358px;
}
.kontakty .kontakty-right .kontakty-block-right-form label  {
	display: block;
	font-weight: bold;
	font-size: 14px;
}
.kontakty .kontakty-right .kontakty-block-right-form  input {
	width: 360px;
	height: 30px;
	display: block;
	margin-bottom: 25px;
}
.kontakty .kontakty-right .kontakty-block-right-form textarea {
	height: 127px;
	display: block;
	width: 100%;
}
.kontakty .kontakty-right .kontakty-block-right-form input {
	width: 100%;
}
.kontakty .kontakty-right .kontakty-block-right-form #form1 .class {
}
.kontakty .kontakty-right .kontakty-block-right-form  .form-button {
	float: right;
	margin-top: 10px;
	width: 80px;
	cursor: pointer;
}
.kontakty .kontakty-left .kontakty-left-social {
	margin-left: 36px;
	margin-top: 30px;
}
.kontakty .kontakty-left .kontakty-left-social .kontakty-left-social-icon {
	width: 40px;
	height: 40px;
	margin-right: 15px;
}

.left-menu-active {
    font-weight: bold;

    font-size: 20px!important;
}


.catalog-subcat ul li {
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;  box-shadow: inset 0px 1px 0px 0px #ffffff;  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );  background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');  background-color: #ededed;  -webkit-border-top-left-radius: 4px;  -moz-border-radius-topleft: 4px;  border-top-left-radius: 4px;  -webkit-border-top-right-radius: 4px;  -moz-border-radius-topright: 4px;  border-top-right-radius: 4px;  -webkit-border-bottom-right-radius: 4px;  -moz-border-radius-bottomright: 4px;  border-bottom-right-radius: 4px;  -webkit-border-bottom-left-radius: 4px;  -moz-border-radius-bottomleft: 4px;  border-bottom-left-radius: 4px;  text-indent: 0;  border: 1px solid #dcdcdc;  display: inline-block;  color: #111111;  font-family: Arial;  font-size: 11px;  font-weight: bold;  font-style: normal;  height: 20px;  line-height: 20px;  text-decoration: none;  text-align: center;  text-shadow: 1px 1px 0px #ffffff;  padding-left: 9px;  padding-right: 9px;  box-shadow: 0 0 45px rgba(255, 255, 255, 0.9);
}

.catalog-subcat ul li:hover{
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );  background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');  background-color: #dfdfdf;
}
.catalog-subcat ul li a{
	
        color:black;
        text-decoration:none;
}

.catalog-subcat ul{
	display: inline-block;
	width: 650px;
	margin-bottom: 10px;
	font-size: 17px;
	font-style: italic;
}

.prod-big-image .img-box{
    width: 300px;

    height: 300px;
}

h1 {
font-size: 30px;
line-height: 1.1;
margin-bottom: 15px;
margin-top: 10px;
display: inline-block;
}

.datagrid .img-box {
height: 50px;
width:50px;
text-align: center;
vertical-align: middle;
display: inline-block;
}



.hack-prosl{
margin-left: 20px!important;
margin-right: 20px!important;
text-align: center;
margin-bottom: 0!important;
width: 182px!important;
}

#scrollup {
cursor: pointer;
position: fixed;
opacity: 0.8;
padding: 15px 10px 10px;
background: #aaa;
border-radius: 5px;
right: 10px;
display: none;
bottom: 10px;
}

.ic {
background: url(../images/sprite.png);
}

.ic.up {
width: 49px;
height: 32px;
background-position: -42px -2px;
}

.autocomplete-w1 { position:absolute; top:0px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:none; _margin:1px 0 0 0;}
.autocomplete { background:#FFF; cursor:default; text-align:left; overflow-x:auto;  overflow-y: auto; margin: -3px 7px 6px 5px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; width: 708px!important; max-height: 600px!important; -webkit-box-shadow: 0px 14px 28px 0px rgba(50, 50, 50, 0.44);  -moz-box-shadow:    0px 14px 28px 0px rgba(50, 50, 50, 0.44);  box-shadow:         0px 14px 28px 0px rgba(50, 50, 50, 0.44);}
.autocomplete .selected { /* background:#F0F0F0; */ cursor: pointer;}
.autocomplete div { padding:2px 5px; white-space:nowrap; margin-bottom: -6px;}
.autocomplete strong { font-weight:normal; color:#3399FF; }

.livetex-button{
    margin-top: 10px;

    display: block;
}


.header-right {
width: 841px;
height: 99px;
float: right;
}

.h-emal{
    display: block;


    margin-top: 12px;
    font-size: 17px;
}

.h-pricebutton{
    margin-top: 15px;

    display: block;
    margin-left: 12px;
    margin-bottom: 10px;
}

.prod-tobasket {
display: inline-block;
text-align: center;
}

.prod-tobasket .button{
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;  box-shadow: inset 0px 1px 0px 0px #ffffff;  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );  background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');  background-color: #ededed;  -webkit-border-top-left-radius: 4px;  -moz-border-radius-topleft: 4px;  border-top-left-radius: 4px;  -webkit-border-top-right-radius: 4px;  -moz-border-radius-topright: 4px;  border-top-right-radius: 4px;  -webkit-border-bottom-right-radius: 4px;  -moz-border-radius-bottomright: 4px;  border-bottom-right-radius: 4px;  -webkit-border-bottom-left-radius: 4px;  -moz-border-radius-bottomleft: 4px;  border-bottom-left-radius: 4px;  text-indent: 0;  border: 1px solid #dcdcdc;  display: inline-block;  color: #111111;  font-family: Arial;  font-size: 11px;  font-weight: bold;  font-style: normal;    line-height: 20px;  text-decoration: none;  text-align: center;  text-shadow: 1px 1px 0px #ffffff;  padding-left: 9px;  padding-right: 9px;  box-shadow: 0 0 45px rgba(255, 255, 255, 0.9);

    cursor: pointer;
}

th.price {
text-align: right;
}

th.price span{
font-size:22px;
}


ul#deliveries .checkbox {
float: left;
margin-right: 20px;
}


#deliveries h3{
    font-size: 20px;
}

#deliveries li{
    margin-bottom: 20px;

}


div.description {
padding-left: 40px;
padding-top: 15px;
}


.cart_form{
    background: rgb(255, 247, 232);

    width: 716px;
    padding: 21px;
}

.cart_form input{

}

.cart_form label{

    display: block;
}


.cart_form textarea{
    height: 66px;

    width: 294px;
}

.cart_form img{

    float: left;
}


.input_captcha {
font-size: 22px;
padding: 5px;
width: 89px;
margin-left: 10px;
}

.top-panel-search .btn{
    width: 106px;


    font-size: 15px;
    height: 31px;
    cursor: pointer;
}

#cart_informer {
float: right;
color: rgb(56, 56, 56);
}

/*Блок категорий колонками @start*/
.text_3ColBlock {
    padding-bottom:20px;
    /*отступ снизу*/
    width:100%;
    /*указываем общую ширину блока с колонками*/
    text-align:left;
    /*выравнивание текста внутри колонок*/
    column-count: 3;
    /*количество колонок, на которое хотим разбить текст*/
    -moz-column-count: 3;
    /*для мозилы*/
    -webkit-column-count: 3;
    /*для webkit браузеров*/
    column-gap: 40px;
    /*отступ между колонками*/
    -moz-column-gap: 40px;
    -webkit-column-gap: 40px;
    column-rule: 1px solid #000;
    /*если требуется по дизайну, разделяем колонки линией*/
    -moz-column-rule: 1px solid #000;
    -webkit-column-rule: 1px solid #000;
}
.text_3ColBlock span {
    display:block;
    margin-bottom:5px;
}

.text_3ColBlock a {
display:block;
    height:auto;
}
.text_3ColBlock span:before {
    content:"";
    margin-right:5px;
    float:left;
}

.text_3ColBlock .last {
    margin-top:20px;
    border-radius:10px;
    border:dotted 1px blue;
    padding:10px;
}
/*Блок категорий колонками @end*/