/*

HOW TO CREATE A CSS3 DROPDOWN h-menu [TUTORIAL]

"How to create a CSS3 Dropdown h-menu [Tutorial]" was specially made for DesignModo by our friend Valeriu Timbuc.

Links:
http://vtimbuc.net/
https://twitter.com/vtimbuc
http://designmodo.com
http://vladimirkudinov.com

*/

/* Reset */
.h-menu,
.h-menu ul,
.h-menu li,
.h-menu a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* h-menu */
.h-menu {
  height: 40px;
  width: 100%;


  background: linear-gradient(to bottom,#4EBA6F 0%,#3EA35D 100%);    border-left: 1px solid #88c86d;    border-right: 1px solid #88c86d;
  /* -webkit-border-radius: 5px; */
  -moz-border-radius: 5px;
  /* border-radius: 5px; */
  margin: auto;
  /* margin-top: 20px; */
}

.h-menu li {
  position: relative;
  list-style: none;
  float: left;
  display: block;
  height: 40px;
}

/* Links */

.h-menu li a {
  display: block;
  padding: 0 14px;
  margin: 6px 0;
  line-height: 28px;
  text-decoration: none;

  border-left: 1px solid rgba(57, 57, 66, 0.06);
  border-right: 1px solid rgba(79, 80, 88, 0.27);

  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;

  color: #f3f3f3;
  text-shadow: 1px 1px 1px rgba(0,0,0,.6);

  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.h-menu li:first-child a { border-left: none; }
.h-menu li:last-child a{ border-right: none; }

.h-menu li:hover > a { color: #8fde62; }

/* Sub h-menu */

.h-menu ul {
  position: absolute;
  top: 40px;
  left: 0;

  opacity: 0;

  background: #1f2024;

  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;

  -webkit-transition: opacity .25s ease .1s;
  -moz-transition: opacity .25s ease .1s;
  -o-transition: opacity .25s ease .1s;
  -ms-transition: opacity .25s ease .1s;
  transition: opacity .25s ease .1s;
}

.h-menu li:hover > ul { opacity: 1; }

.h-menu ul li {
  height: 0;
  overflow: hidden;
  padding: 0;

  -webkit-transition: height .25s ease .1s;
  -moz-transition: height .25s ease .1s;
  -o-transition: height .25s ease .1s;
  -ms-transition: height .25s ease .1s;
  transition: height .25s ease .1s;
}

.h-menu li:hover > ul li {
  height: 36px;
  overflow: visible;
  padding: 0;
}

.h-menu ul li a {
  width: 100px;
  padding: 4px 0 4px 40px;
  margin: 0;

  border: none;
  border-bottom: 1px solid #353539;
}

.h-menu ul li:last-child a { border: none; }

/* Icons */

.h-menu a.documents { background: url(../img/docs.png) no-repeat 6px center; }
.h-menu a.messages { background: url(../img/bubble.png) no-repeat 6px center; }
.h-menu a.signout { background: url(../img/arrow.png) no-repeat 6px center; }